# Data Science Tools and Ecosystem 

In this notebook,Data Science Tools and Ecosystem are summarized

**Objectives**

- List of some commonly used Data Science languages
- List some of the commonly used Data Science libraries
- List some of the popular Data Science tools
- Evaluating mathematical expression involving multiplication then addition in python
- Converting a given quantity in minutes to hours in python

## Some of the popular languages in Data Science are:
1. Python
2. R
3. Julia
4. C#

## Some of the commonly used Data Science libraries are:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
----------------------
| Apache Spark       |
| Jupyter Notebook   |
| Hadoop             |

### Below are a few examples of evaluating arithmetic expression in Python

# (Addition of two integers)

2+1
# (Multiplication of two integers)

2*1
# (Division of two divisible integers)

6/2

In [17]:
## Evaluating mathematical expression (to multiply and then add integers)as (3*4)+5  

# (Multiplication should be done first, according to BODMAS rule expression within the bracket should be first calculated:)

a=3*4

# (Addition:)

a+5

17

In [18]:
## Converting 200 mins to hours

# (To convert 200 mins to hours,we need to divide 200 by 60,below is the code to divide 200 by 60,the output will be the required answer in hours)

200/60

3.3333333333333335

## Author 

Srijana Mishra